---
import Hero from "@/components/Hero.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <main>
    <Hero />
    <section
      class="flex min-h-screen w-full flex-col items-center justify-center"
    >
      <h1>Hello World!</h1>
    </section>

    <section
      class="flex min-h-screen w-full flex-col items-center justify-center"
    >
      <h1>Hello World!</h1>
    </section>
  </main>
</Layout>
