---
import Layout from "@/layouts/Layout.astro";
import Hero from "./_components/Hero.astro";
import About from "./_components/About.astro";
import Projects from "./_components/Projects.astro";
---

<Layout title="">
  <main class="flex flex-col gap-24">
    <Hero />
    <About />
    <Projects />
  </main>
</Layout>
