---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <main>
    <section
      class="flex min-h-screen w-full flex-col items-center justify-center"
    >
      <h1>Hello World!</h1>
    </section>
  </main>
</Layout>
